
  <br>
  <div class="text-center">
    <strong class="lead">
      HYDROVIZ a été développé entre décembre 2016 et janvier 2017 par <br>
      <a class="a_" target="_blank" href="http://jpylab.com">Julien Paris </a>
      et Florian Melki.
    </strong>
  </div>

  <br>

  <div >
    HYDROVIZ est une application expérimentale et certaines fonctionnalités sont encore en cours de développement. Le code est en open source sur
    <a class="a_" href="http://gitlab.com/Julien_P/concours_pesticides" target="_blank">GitLab</a>.
    <br>
    Les
    <a class="a_" target="_blank" href="http://www.donnees.statistiques.developpement-durable.gouv.fr/dataviz_pesticides/">
      données et les fonds de carte
    </a>
    ont été fournis par le ministère de l'environnement, de l'énergie et de la mer dans le cadre du
    <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr/Concours-de-data-visualisation-sur.html">
      concours
    </a>
    (voir également le
    <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr/IMG/pdf/Reglement_Concours_Datavisualisation_Pesticides_dans_eaux_souterraines_15_12_2016_VF.pdf">
      règlement
    </a>
    du concours ).
    <br><br>
  </div>
