
  <br>
  <div class="alert alert-info text-center" role="alert">
    <h4 class="lead">
      <small>HYDROVIZ a été conçu et développé entre le 26/12/2016 et le 31/01/2017 par : </small>
      <hr>

      <dl class="dl-horizontal text-left">

        <dt>
          <a target="_blank" href="http://jpylab.com">
            <img  src="{{ url_for('static', filename='images/photo_Julien_Paris.jpg') }}"
                  class="img-circle img-responsive container_photos center-block" alt="Responsive image">
          </a>
        </dt>
        <dd>
          <a class="a_" target="_blank" href="http://jpylab.com">
            Julien Paris<br>
          </a>
          <small>
            <h5>architecte DPLG, chercheur en sciences de l’information et de la communication (ex-boursier CNRS), M2 gestion de projets culturels, développeur indépendant en dataviz/data analysis</h5>
          </small>
          <hr>
          <h6> data mining | conception | développement | déploiement | design graphique | UI-UX | formalisation</h6>
        </dd>

        <hr>

        <dt>
          <a target="_blank" href="https://www.linkedin.com/in/florian-melki-26842718">
            <img  src="{{ url_for('static', filename='images/photo_Florian_Melki.jpg') }}"
                  class="img-circle img-responsive container_photos center-block" alt="Responsive image">
          </a>
        </dt>
        <dd>
          <a class="a_" target="_blank" href="https://www.linkedin.com/in/florian-melki-26842718">
            Florian Melki
          </a>
          <small>
            <h5>ingénieur de recherche pour l’école Polytechnique de Nantes en dataviz/data mining</h5>
          </small>
          <hr>
          <h6> data mining | formalisation</h6>
        </dd>

      </dl>
    </h4>
  </div>


  <div >
    HYDROVIZ est une application expérimentale et certaines fonctionnalités sont encore en cours de développement. Le code est en open source sur
    <a class="a_" href="http://gitlab.com/Julien_P/concours_pesticides" target="_blank">GitLab</a>.
    Les
    <a class="a_" target="_blank" href="http://www.donnees.statistiques.developpement-durable.gouv.fr/dataviz_pesticides/BDD%20concours%20Pesticides%20VF.zip">
      données et les fonds de carte
    </a>
    ont été fournis par le
    <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr">
      ministère de l'environnement, de l'énergie et de la mer
    </a>
    dans le cadre du
    <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr/concours-data-visualisation-sur-pesticides-dans-eaux-souterraines-0">
      concours de data-visualisation sur les pesticides dans les eaux souterraines
    </a>
    (voir également le
    <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr/sites/default/files/Reglement_Concours_Datavisualisation_Pesticides_dans_eaux_souterraines_15_12_2016_VF.pdf">
      règlement
    </a>
    du concours ).
    <br><br>
  </div>
