<style>

  /* SIDEBAR & JUMBOTRON */
  .container-fluid .jumbotron{
      /*color: grey;*/
      /*border-color: black;*/
      /*border-bottom-width: 10px;*/
      /*background-color: {{ app_colors.jumbotron }} ;*/
      padding-bottom: 25px;
      padding-right : 15px;
      padding-left  : 15px;
      padding-top   : 10px;
      border-radius : 3px;

  }

  .sd_buttons {
      margin-bottom: 30px;
  }

  .jumbotron {
      margin-bottom: 15px;
      z-index: 999;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

  .jumbotron h1 {
      color: white;
      font-size: 35px;
  }

  .jumbotron .list-group {
      background-color: mediumaquamarine;
      border-color: white;
      border-radius: 10px;
  }

  .jumbotron .list-group-item {
      padding-bottom: 3px;
      padding-top: 3px;
      background-color: inherit;
      border-radius: 10px;
      border-width: 0px;
  }

  .jumbotron .list-group-subtitle{
      padding: 10px;
  }

  .scrollable {
      max-height: 250px;
      overflow-y: scroll;
  }

  ::-webkit-scrollbar-track {
      /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
      background-color: null;
  }

  ::-webkit-scrollbar {
      width: 4px;
      background-color: null;
  }

  ::-webkit-scrollbar-thumb {
      background-color: orange;
      border: 4px solid rgba(0, 0, 0, 0);
  }



  /* CUSTOM BUTTONS */
  .custom-btn {
      border-radius: 3px;
      border: 0px;
      border-color: teal ;
      margin-bottom: 0px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
  }

  .custom-btn:focus .custom-btn:hover {
      background-color: #e6e6e6;
  }


  /* SIDEBAR CUSTOM PROPERTIES */
  #row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
  }

  #content {
    /* for the animation */
    transition: width 0.3s ease;
  }

  #sidebar_infos {
    /* for the animation */
    transition: margin 0.3s ease;
    padding-right: 10px ;
    margin-top   : 250px;
    z-index      : 5;
  }

  #sb_title{
      margin-top: 0px;
  }

  .collapsed-side {
    /* hide it for small displays*/
    display: none;
  }

  @media (min-width: 99px) {
    .collapsed-side {
      display: block;
      /* same width as sidebar */
      margin-right: -50%;
    }
  }

</style>


<div class="jumbotron">

  <div class="row" >

    <h3 id="sb_title"
        class="col-xs-11 lead text-lowercase bstooltip"
        style="margin-bottom: 10px"

        data-toggle="tooltip" data-placement="left"
        title="propriétés de la masse d'eau sélectionnée"
        >
      infos - cliquer sur une masse d'eau
    </h3>

    <button type="button"
            class="col-xs-1 close"
            onclick="toggleSidebarInfos()"
            style="margin-bottom: 10px">
      <span aria-hidden="true">&times;</span>
    </button>


  </div>

  <hr>

  <div class="scrollable">

    <div  class="col-sm-12"
    >

      <a class="indent1"  role="button" data-toggle="collapse" data-target="#collapseInfosNappe" aria-expanded="false" aria-controls="collapseFonctions">
        infos nappe phréatique <span class="caret"></span>
      </a>

      <div class="collapse" id="collapseInfosNappe">
        <li> Code masse d'eau :       <a href="#" class="" id="CdMasseDEa" > </a></li>
        <!-- <li> NomMasseDE :             <a href="#" class="" id="NomMasseDE" ></a></li> -->
        <li> Type masse d'eau :       <a href="#" class="" id="TypeMasseD" > - </a></li>
        <li> Karstique :              <a href="#" class="" id="Karstique"  > - </a></li>
        <li> Frange littorale :       <a href="#" class="" id="FrangeLitt" > - </a></li>
        <li> Niveau masse d'eau :     <a href="#" class="" id="Niveau"     > - </a></li>
        <li> Nature de l'écoulement : <a href="#" class="" id="NatureEcou" > - </a></li>
      </div>

      <hr>

      <!-- <a class="indent1" role="button" data-toggle="collapse" data-target="#collapseInfosPest" aria-expanded="false" aria-controls="collapseFonctions">
        infos pesticides <span class="caret"></span>
      </a>

      <div class="collapse" id="collapseInfosPest"> -->

        <!-- <li> Concentrations totales :
          <a role="button" class="switchmap" reqtype="MOYPTOT" reqvalue="XXXXXX" >
          Moyennes
          </a>
        </li> -->

        <a
          class="indent1 bstooltip" data-toggle="tooltip" data-placement="left"
          title="visualiser la répartition des pesticides pour cette masse d'eau"
        >
          <a role="button"
              class="switchtree"
              id="reqTree_ME"
              reqvalue="TOT_FRANCE"
              data-toggle="modal"
              data-target="#mod_pest">
            répartition des pesticides
          </a>
        </a>

        <!-- <li> FONCTIONS :    <a href="#" class="" id="FONCTIONS" > - </a></li>
        <li> FAMILLES :     <a href="#" class="" id="FAMILLES" > - </a></li>
        <li> DANGEROSITES : <a href="#" class="" id="TYPES" > - </a></li> -->

      <!-- </div> -->

    </div>
  </div>

</div>

<div class="sd_buttons" style="padding-top: 0px;">

  <button class="btn btn-info btn-sm custom-btn"
          onclick="toggleSidebarInfos()">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Fermer
  </button>

</div>


<script>

// toggle map_info
var toggled = 1  ;

function toggleSidebarInfos() {

  $("#sidebar_infos").toggleClass("collapsed-side");
  $("#content").toggleClass("{{ bootstrap_vars.col_full }} {{ bootstrap_vars.col_graph }}"); //5 and 7 default

  toggled *= -1 ;

};

//toggleSidebarInfos();

</script>
