<style>

  /* SIDEBAR & JUMBOTRON */
  .container-fluid .jumbotron{
      /*color: grey;*/
      /*border-color: black;*/
      /*border-bottom-width: 10px;*/
      padding-bottom: 25px;
      padding-right : 15px;
      padding-left  : 15px;
      padding-top   : 10px;
      border-radius : 3px;
      background-color: {{ app_colors.navbar }} ;

  }

  .sd_buttons {
      margin-bottom: 30px;
  }

  .jumbotron {
      margin-bottom: 15px;
      z-index: 999;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

  .jumbotron h1 {
      color    : white;
      font-size: 35px;
  }

  .jumbotron .list-group {
      background-color: mediumaquamarine;
      border-color    : white;
      border-radius   : 10px;
  }

  .jumbotron .list-group-item {
      padding-bottom: 3px;
      padding-top   : 3px;
      background-color: inherit;
      border-radius : 10px;
      border-width  : 0px;
  }

  .jumbotron .list-group-subtitle{
      padding: 10px;
  }



  /* CUSTOM BUTTONS */
  .custom-btn {
      border-radius: 3px;
      border: 0px;
      border-color: teal ;
      margin-bottom: 0px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
  }

  .custom-btn:focus .custom-btn:hover {
      background-color: #e6e6e6;
  }


  /* SIDEBAR CUSTOM PROPERTIES */
  #row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
  }

  #content {
    /* for the animation */
    transition: width 0.3s ease;
  }

  #sidebar_infos {
    /* for the animation */
    transition: margin 0.3s ease;
    padding-right: 10px ;
    margin-top   : 75px;
    z-index      : 5;
  }

  #sb_title{
      margin-top: 0px;
  }

  .collapsed-side {
    /* hide it for small displays*/
    display: none;
  }

  @media (min-width: 99px) {
    .collapsed-side {
      display: block;
      /* same width as sidebar */
      margin-right: -50%;
    }
  }

  .badge{
    background-color: {{ app_colors.btn_info }};
  }

</style>


<div class="jumbotron">

  <div class="row" >

    <h4 id="sb_title"
        class="col-xs-11 lead text-center bstooltip"
        style="margin-bottom: 10px; color:white"

        data-toggle="tooltip" data-placement="left"
        title="propriétés de la masse d'eau sélectionnée"
        >
      <strong>
        <i class="fa fa-mouse-pointer fa-3" aria-hidden="true"></i>
        cliquer sur une masse d'eau
      </strong>
    </h4>

    <button type="button"
            class="col-xs-1 close"
            onclick="toggleSidebarInfos()"
            style="margin-bottom: 10px">
      <span aria-hidden="true">&times;</span>
    </button>


  </div>

  <hr><hr>

  <div class="scrollable">

    <div  class="col-sm-12">

      <h4 class="indent1 bstooltip tooltip_img" data-toggle="tooltip" data-placement="left" style="margin-bottom:16px"
          title="voir la répartition des pesticides pour cette masse d'eau / département
                  et pour l'année sélectionnée (carte hiérarchique)<hr>
                  <img src='{{ url_for('static', filename='images/tooltip_treemap.png') }}'>">
        <a role="button"
            class="switchtree"
            id="reqTree_ME_dpt"
            reqvalue="TOT_FRANCE"
            data-toggle="modal"
            data-target="#mod_pest">

          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
          répartition des pesticides pour
          <span id="rep_pest_code"> toute la France </span>
        </a>
      </h4>

      <hr>

      <h4 class="bstooltip" data-toggle="tooltip" data-placement="left"
          title="concentration moyenne totale, nombre de pesticides détectés..." >
        <a class="indent1"  role="button" data-toggle="collapse" data-target="#collapseInfosPest" aria-expanded="false" aria-controls="collapseInfosPest">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          données générales sur les pesticides <span class="caret"></span>
        </a>
      </h4>

      <div class="collapse" id="collapseInfosPest">
        <dl class="dl-horizontal">

          <dt><a  class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="MOYPTOT" reqvalue="XXXXXX"
                  title="moyenne relevée pour une masse d'eau spécifique, ou moyenne des concentrations des différentes masses d'eau attenantes à un département
                  / cliquer pour voir sur la carte" >
              Concentration moyenne totale
            </a></dt>
          <dd>
            <a target="_blank" id="MOYPTOT" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

          <hr>

          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FUNCTIONS" reqvalue="H"
                  title="cliquer pour voir cette fonction sur la carte" >
              herbicides
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_H" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FUNCTIONS" reqvalue="F"
                  title="cliquer pour voir cette fonction sur la carte" >
              fongicides
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_F" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FUNCTIONS" reqvalue="I"
                  title="cliquer pour voir cette fonction sur la carte" >
              insecticides
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_I" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>


          <hr>


          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FAMILLES" reqvalue="Divers (organiques)"
                  title="cliquer pour voir cette famille sur la carte" >
            divers organiques
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_divorg" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FAMILLES" reqvalue="Urées"
                  title="cliquer pour voir cette famille sur la carte" >
            urées
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_urees" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FAMILLES" reqvalue="Azoles"
                  title="cliquer pour voir cette famille sur la carte" >
            azoles
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_azo" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FAMILLES" reqvalue="Organochlorés"
                  title="cliquer pour voir cette famille sur la carte" >
            organochlorés
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_orgchl" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="FAMILLES" reqvalue="Triazines et métabolites"
                  title="cliquer pour voir cette famille sur la carte" >
             triazines et métabolites
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_triaz" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>


          <hr>
          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="TYPES" reqvalue="Ia"
                  title="extrêmement toxique / cliquer pour voir cette catégorie sur la carte" >
              toxicité classe Ia
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_tIa" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>
          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="TYPES" reqvalue="Ib"
                  title="très toxique / cliquer pour voir cette catégorie sur la carte" >
              toxicité classe Ib
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_tIb" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>
          <dt><a class="bstooltip aFake switchmap" data-toggle="tooltip" data-placement="left"
                  reqtype="TYPES" reqvalue="II"
                  title="modérément toxique / cliquer pour voir cette catégorie sur la carte" >
              toxicité classe II
            </a></dt>
          <dd>
            <a target="_blank" id="nbr_tII" class="bstooltip" data-toggle="tooltip" data-placement="top" title="" > - </a>
          </dd>

        </dl>
      </div>



      <hr>

      <h4 class="bstooltip" data-toggle="tooltip" data-placement="left"
          title="cliquer sur une caractéristique pour plus d'informations (site SANDRE) " >
        <a  class="indent1"  role="button" id="collapserInfosNappe"
            data-toggle="collapse" data-target="#collapseInfosNappe" aria-expanded="false" aria-controls="collapseInfosNappe">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          infos nappe phréatique <span class="caret"></span>
        </a>
      </h4>

      <div class="collapse" id="collapseInfosNappe">

        <dl class="dl-horizontal">

          <dt><a class="bstooltip aFake" data-toggle="tooltip" data-placement="left" title="code de la masse d'eau" >
              Code de la masse d'eau
            </a></dt>
          <dd>
            <a target="_blank" id="CdMasseDEa" class="bstooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour plus d'infos sur le site SANDRE" > - </a>
          </dd>

          <!-- <li> NomMasseDE :             <a href="#" class="" id="NomMasseDE" ></a></li> -->
          <dt><a class="bstooltip aFake" data-toggle="tooltip" data-placement="left" title="" id="TypeMasseD_">
              Type de masse d'eau
            </a></dt>
          <dd>
            <a target="_blank" id="TypeMasseD" class="bstooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour plus d'infos sur le site SANDRE" > - </a>
          <dd>

          <dt><a class="bstooltip aFake" data-toggle="tooltip" data-placement="left" title="" id="Niveau_">
              Niveau masse d'eau
            </a></dt>
          <dd>
            <a target="_blank" id="Niveau" class="bstooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour plus d'infos sur le site SANDRE" > - </a>
          </dd>

          <dt><a class="bstooltip aFake" data-toggle="tooltip" data-placement="left" title="" id="FrangeLitt_">
              Frange littorale
            </a></dt>
          <dd>
            <a target="_blank" id="FrangeLitt" class="bstooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour plus d'infos sur le site SANDRE"> - </a>
          </dd>

          <dt><a class="bstooltip aFake" data-toggle="tooltip" data-placement="left" title="" id="Karstique_">
              Karstique
            </a></dt>
          <dd>
            <a target="_blank" id="Karstique" class="bstooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour plus d'infos sur le site SANDRE" > - </a>
          </dt>

          <dt><a class="bstooltip aFake" data-toggle="tooltip" data-placement="left" title="" id="NatureEcou_">
              Nature de l'écoulement
            </a></dt>
          <dd>
            <a target="_blank" id="NatureEcou" class="bstooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour plus d'infos sur le site SANDRE"> - </a>
          </dd>

        </dl>

      </div>


      <!-- <a class="indent1" role="button" data-toggle="collapse" data-target="#collapseInfosPest" aria-expanded="false" aria-controls="collapseFonctions">
        infos pesticides <span class="caret"></span>
      </a>

      <div class="collapse" id="collapseInfosPest"> -->

        <!-- <li> Concentrations totales :
          <a role="button" class="switchmap" reqtype="MOYPTOT" reqvalue="XXXXXX" >
          Moyennes
          </a>
        </li> -->



        <!-- <li> FONCTIONS :    <a href="#" class="" id="FONCTIONS" > - </a></li>
        <li> FAMILLES :     <a href="#" class="" id="FAMILLES" > - </a></li>
        <li> DANGEROSITES : <a href="#" class="" id="TYPES" > - </a></li> -->

      <!-- </div> -->

    </div>
  </div>

</div>

<!-- <div class="sd_buttons" style="padding-top: 0px;">

  <button class="btn btn-info btn-sm custom-btn"
          onclick="toggleSidebarInfos()">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Fermer
  </button>

</div> -->


<script>

// toggle map_info
var toggled = 1  ;

function toggleSidebarInfos() {

  $("#sidebar_infos").toggleClass("collapsed-side");
  $("#content").toggleClass("{{ bootstrap_vars.col_full }} {{ bootstrap_vars.col_graph }}"); //5 and 7 default

  toggled *= -1 ;

};

//toggleSidebarInfos();

</script>
