<div class="modal fade "
      id="mod_lexiques"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_lexiques">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalLexiques">
          Lexiques et ressources
        </h3>
      </div>

      <div class="modal-body">


        <dl class="dl-horizontal">
          <dt>
            <img  src="{{ url_for('static', filename='images/logo_hydroviz_solo_.png') }}"
                  class="img-responsive" alt="Responsive image" >
          </dt>
          <dd>
            <h4 class="lead">
              Eléments de lexiques et ressources supplémentaires
              pour approfondir votre recherche et l'analyse des données sur la santé des nappes phréatiques.
            </h4>
          </dd>
        </dl>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="Service d'Administration National des Données et Référentiels sur l'Eau" >

          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_sandre" aria-expanded="false" aria-controls="lex_sandre">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            SANDRE <span class="caret"></span>
          </a>


        </div>
        <div class="collapse indent1" id="lex_sandre">

          <br>

          <dl class="dl-horizontal">

            <dt>
              <img src="{{ url_for('static', filename='images/logo_sandre_mini2.jpg') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              Le Sandre a pour mission, d'établir et de mettre à disposition le référentiel des données sur l'eau du Système d'Information sur l'Eau (SIE).
              Ce référentiel, composé de spécifications techniques et de listes de codes libres d'utilisation,
              décrit les modalités d'échange des données sur l'eau à l'échelle de la France.
              D'un point de vue informatique, le Sandre garantit l'interopérabilité des systèmes d'information relatifs à l'eau.
              <br>
              <strong>
                <a class="a_" target="_blank" href="http://sandre.eaufrance.fr">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
          <div >
            <ul>
              <li>
                <a class="a_" target="_blank" href="http://sandre.eaufrance.fr/ftp/documents/fr/ddd/eee/1.1/sandre_dictionnaire_EEE_1.1.pdf">
                dictionnaire des données / référentiel Masses d'eaufrance
                </a>

              </li>
            </ul>
          </div>

        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="service public d’information sur l’eau" >

          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_ef" aria-expanded="false" aria-controls="lex_ef">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            EAU DE FRANCE  <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lex_ef">

          <br>

          <dl class="dl-horizontal">

            <dt>
              <img src="{{ url_for('static', filename='images/logo_eaufrance.jpg') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              Eaufrance est un service public d’information sur l’eau et les milieux aquatiques.
              Il a pour but de faciliter l’accès à l’information publique dans le domaine de l’eau en France.
              <br>
              <strong>
                <a class="a_" target="_blank" href="http://www.eaufrance.fr">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
          <div >
            <ul>
              <li>
                <a class="a_" target="_blank" href="http://www.ades.eaufrance.fr">
                ADES
                </a>
                 est la banque nationale d’Accès aux Données sur les Eaux Souterraines
                qui rassemble sur un site internet public www.ades.eaufrance.fr
                des données quantitatives et qualitatives relatives aux eaux souterraines
              </li>
              <li>
                <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr/-Eau-et-Biodiversite,5772-.html">
                Minisère de l'environnement, de l'énergie et de la mer
                </a>
                  Retrouvez l'actualité touchant à l'eau et à la biodiversité sur le site
                  du ministère chargé du développement durable.
              </li>
            </ul>
          </div>

        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="les agences de l'eau dans votre région" >

          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_ageau" aria-expanded="false" aria-controls="lex_ageau">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            Agences de l'eau  <span class="caret"></span>
          </a>


        </div>
        <div class="collapse indent1" id="lex_ageau">

          <br>

          <dl class="dl-horizontal">

            <dt>
              <img src="{{ url_for('static', filename='images/logo_agences_eau.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              Acteurs de la mise en œuvre de la politique publique de l’eau, organisée en France autour du principe de la
              gestion concertée par bassin versant, les agences de l’eau exercent leurs missions dans le cadre de programmes
              d’actions pluriannuels avec pour objectif final l’atteinte du bon état des eaux
              <br>
              <strong>
                <a class="a_" target="_blank" href="http://www.lesagencesdeleau.fr/les-agences-de-leau/les-six-agences-de-leau-francaises/">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
          <div >
            <ul>

              <li>
                <a class="a_" target="_blank" href="http://www.prenons-soin-de-leau.fr">
                Bassin Loire-Bretagne
                </a>
              </li>
              <li>
                <a class="a_" target="_blank" href="http://www.eau-seine-normandie.fr/">
                Bassin Seine-Normandie
                </a>
              </li>
              <li>
                <a class="a_" target="_blank" href="http://consultation.eau-artois-picardie.fr">
                Bassin Artois-Picardie
                </a>
              </li>
              <li>
                <a class="a_" target="_blank" href="http://consultation.eau-rhin-meuse.fr/">
                Bassin Rhin-Meuse
                </a>
              </li>
              <li>
                <a class="a_" target="_blank" href="http://www.sauvonsleau.fr/">
                Bassin Rhône-Méditerranée et Corse
                </a>
              </li>
              <li>
                <a class="a_" target="_blank" href="http://www.eau-adour-garonne.fr/">
                Bassin Adour-Garonne
                </a>
              </li>
            </ul>
          </div>

        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="Agence française pour la biodiversité" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_afb" aria-expanded="false" aria-controls="lex_afb">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            Agence française pour la biodiversité <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lex_afb">
          <br>
          <dl class="dl-horizontal">
            <dt>
              <img src="{{ url_for('static', filename='images/logo_afb.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              L'Agence française pour la biodiversité est un établissement public du ministère de l'Environnement, de l'Energie et de la Mer.
              Elle exerce des missions d'appui à la mise en oeuvre des politiques publiques dans les domaines de la connaissance, la préservation,
              la gestion et la restauration de la biodiversité des milieux terrestres, aquatiques et marins.
              <br>
              <strong>
                <a class="a_" target="_blank" href="http://www.afbiodiversite.fr">
                  site de l'AFB
                </a>
                <br>
                <a class="a_" target="_blank" href="http://www.onema.fr">
                  site internet de l'ONEMA
                </a>
              </strong>
            </dd>
          </dl>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="Association Scientifique et Technique pour l’Eau et l’Environnement" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_astee" aria-expanded="false" aria-controls="lex_astee">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            Association Scientifique et Technique pour l’Eau et l’Environnement <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lex_astee">
          <br>
          <dl class="dl-horizontal">
            <dt>
              <img src="{{ url_for('static', filename='images/logo_astee.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              L’ASTEE (Association Scientifique et Technique pour l’Eau et l’Environnement, ex-AGHTM) est une association
              à caractère scientifique et technique reconnue d’utilité publique créée en 1905. Plateforme multi-acteurs,
              elle rassemble près de 3 800 membres, structures et professionnels issus d’organismes publics et
              privés intervenant dans les services publics locaux de l’environnement.
              Avec 45 groupes de travail composés d’environ 400 bénévoles et 13 sections régionales sur l’ensemble du territoire national,
              elle a vocation à produire et diffuser de l’information technique de référence.
              <br>
              <strong>
                <a class="a_" target="_blank" href="http://www.astee.org">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="Agence nationale de sécurité sanitaire alimentation, de l'environnement et du travail" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_anses" aria-expanded="false" aria-controls="lex_anses">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            ANSES <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lex_anses">
          <br>
          <dl class="dl-horizontal">
            <dt>
              <img src="{{ url_for('static', filename='images/logo_anses.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              L’Agence nationale de sécurité sanitaire de l’alimentation, de l’environnement et du travail (Anses)
              a été créée le 1er juillet 2010. L’Anses est un établissement public à caractère administratif placé sous la tutelle
              des ministères chargés de la Santé, de l'Agriculture, de l'Environnement, du Travail et de la Consommation.
              <br>
              <strong>
                <a class="a_" target="_blank" href="http://www.anses.fr">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
          <div >
            <ul>
              <li>
                <a class="a_" target="_blank" href="http://www.agritox.anses.fr/php/fiches.php">
                Agritox / Base de données sur les substances actives phytopharmaceutiques
                </a>
                <br>
                AGRITOX est une base de données créée en 1986 par l'INRA sur les propriétés physiques et chimiques,
                la toxicité, l'écotoxicité, le devenir dans l'environnement et les données réglementaires des substances actives phytopharmaceutiques
              </li>
            </ul>
          </div>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="Union Européenne" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_ue" aria-expanded="false" aria-controls="lex_ue">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            European Food Safety Authority <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lex_ue">
          <br>
          <dl class="dl-horizontal">
            <dt>
              <img src="{{ url_for('static', filename='images/logo_efsa.svg') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              L’EFSA est une agence européenne fondée par l’Union européenne qui opère indépendamment
              de la Commission européenne, du Parlement européen et des États membres de l’UE.
              <br>
              <strong>
                <a class="a_" target="_blank" href="https://www.efsa.europa.eu/fr/topics/topic/pesticides">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
          <!-- <div >
            <ul>
              <li>
                <a class="a_" target="_blank" href="https://www.efsa.europa.eu/fr/topics/topic/pesticides">
                site internet
                </a>
                <br>

              </li>
            </ul>
          </div> -->
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="base de données US sur les pesticides" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_toxnet" aria-expanded="false" aria-controls="lex_toxnet">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            TOXNET <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lex_toxnet">
          <br>
          <dl class="dl-horizontal">
            <dt>
              <img src="{{ url_for('static', filename='images/logo_toxnet.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              Databases on toxicology, hazardous chemicals, environmental health, and toxic releases
              <br>
              <strong>
                <a class="a_" target="_blank" href="https://toxnet.nlm.nih.gov">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
          <div >
            <ul>
              <li>
                <a class="a_" target="_blank" href="http://www.agritox.anses.fr/php/fiches.php">
                Toxnet / Base de données sur les substances actives phytopharmaceutiques
                </a>
              </li>
            </ul>
          </div>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="base de données US sur les pesticides" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lex_datagouv" aria-expanded="false" aria-controls="lex_datagouv">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            datagouv.fr <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lex_datagouv">
          <br>
          <dl class="dl-horizontal">
            <dt>
              <img src="{{ url_for('static', filename='images/logo_datagouv.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              Plateforme ouverte des données publiques françaises
              <br>
              <strong>
                <a class="a_" target="_blank" href="https://www.data.gouv.fr">
                  site internet
                </a>
              </strong>
            </dd>
            <dt>
              <img src="{{ url_for('static', filename='images/logo_etalab.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              Etalab
              <br>
              <strong>
                <a class="a_" target="_blank" href="https://www.etalab.gouv.fr">
                  site internet
                </a>
              </strong>
            </dd>
          </dl>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
