<div class="modal fade in "
      id="mod_next"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_next">

  <div class="modal-dialog modal-md" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalHowTo">
          Vos retours : comment faire évoluer HydroViz ?
        </h3>
      </div>

      <div class="modal-body">

        <!-- <dl class="dl-horizontal">
          <dt>
            <img  src="{{ url_for('static', filename='images/logo_hydroviz_solo_.png') }}"
                  class="img-responsive" alt="Responsive image" >
          </dt>
          <dd> -->
            <h4 class="text-center">
              HydroViz est un projet expérimental et en développement continu.
              <br>Nous avons collecté vos commentaires et vos questions sur les
              fonctionnalités et les problématiques
              qui pourraient être développées à l'avenir.
            </h4>
            <br>
          <!-- </dd>
        </dl> -->

        <hr>

        <a class="a_" target="_blank" href="https://twitter.com/jparis_py">
          <img  src="{{ url_for('static', filename='images/retours_exp.png') }}"
              class="img-responsive" alt="Responsive image" >
        </a>

        <hr>

        <h5 class="text-center">
          <br>
          tous vos commentaires sont les bienvenus !
          <br> écrivez-nous sur
            <a class="a_" target="_blank" href="https://twitter.com/jparis_py">Twitter</a>
            <a class="a_" target="_blank" href="https://twitter.com/search?q=hydroviz&src=typd">#hydroviz</a>
          <br> ou en nous contactant par mail :
            <a class="a_" href="mailto:hydroviz.fr@gmail.com">hydroviz.fr@gmail.com</a>
            <br> 
        </h5>

        <hr>

        <h5 class="text-center">
          <br>
          Vous pouvez également nous aider à maintenir HydroViz en ligne en faisant un don
          <br>
            <a class="a_" target="_blank" href="https://www.paypal.me/jpydev"> <i class="fa fa-paypal" aria-hidden="true"></i> Paypal</a>
        </h5>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
