

<style>

  .modal{
    position: fixed;
  }

</style>

<!-- Large modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
  Large modal
</button> -->

<div class="modal fade "
      id="mod_pest"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_pest_form">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalLabelPesticides">
          Pesticides - répartition pour :
          <txt href="#" class="" id="pest_proportions" > - </txt>
        </h3>
      </div>

      <div class="modal-body" id="treemap_pest">
        
        <!-- TREEMAP PESTICIDES HERE -->
        {% include "treemap_c.html" %}

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>
    </div>

  </div>

</div>
