<div class="modal fade "
      id="mod_lexiques"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_lexiques">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="ModalLexiques">
          Lexiques
        </h3>
      </div>

      <div class="modal-body">

        <h4 class="lead">
          Eléments de lexiques
        </h4>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#sandre" aria-expanded="false" aria-controls="sandre">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            Sandre <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="sandre">
          <br>
            <strong>
              Sandre site
            </strong>
          <br><br>
          <div >
            <ul>
              <li>dictionnaire </li>
              <li>lien é</li>
              <li>lien 3</li>
            </ul>

          </div>
          <br>
        </div>



      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
