<div class="modal fade in "
      id="mod_intro"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_intro">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalIntro">
          Qu'est-ce qu'hydroViz ?
        </h3>
      </div>

      <div class="modal-body">

        <dl class="dl-horizontal">
          <dt>
            <img  src="{{ url_for('static', filename='images/logo_hydroviz_.jpg') }}"
                  class="img-responsive" alt="Responsive image" >
          </dt>
          <dd>
            <h4 class="lead">
              est une application interactive pour le grand public comme pour les spécialistes de l'environnement.
              HYDROVIZ permet de visualiser globalement et finement l'évolution de la pollution
              des nappes phréatiques aux pesticides en France entre 2007 et 2012.
              <br>
              <small>* version {{ app_metas.version }} - expérimental</small>
            </h4>
          </dd>
        </dl>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_goal" aria-expanded="false" aria-controls="intro_goal">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            pourquoi est-ce important de visualiser la pollution des nappes phréatiques ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_goal">
          <div >
            <br>

            <div class="alert alert-info text-center" role="alert">
              <strong class="lead">
                "Moins de 1% de l'eau sur Terre est douce et liquide"
              </strong>
              (
              <a class="a_" target="_blank" href="http://www.solidarites.org/phocadownload/publications/publications_techniques/solidarites_2016_barometre-eau_web.pdf"> source </a>
              ).
            </div>

            <div class="text-center">
              <a class="a_" role="button" data-toggle="collapse" data-target="#intro_video" aria-expanded="false" aria-controls="intro_video">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                voir la vidéo de DATA GUEULE "eau rage, eau des espoirs"<span class="caret"></span>
              </a>
              <div class="collapse in" id="intro_video">
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wH9dMNWjL2s" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            <br>
            La pollution aux pesticides des nappes d'eau souterraines est un sujet complexe mais qui nous concerne tous :
            <strong>les nappes phréatiques représentent en effet à l'échelle mondiale environ 30% des réserves d'eau douce,
              après les glaciers (68%), mais bien plus importantes que les cours d'eau de surface ou l'eau contenue dans l'atmosphère
              (
              <a class="a_" target="_blank" href="http://www.solidarites.org/phocadownload/publications/publications_techniques/solidarites_2016_barometre-eau_web.pdf"> source </a>
              ).
              Ces réserves servent à la fois à l'irrigation des cultures, à la consommation en tant qu'eau potable, et à la bonne santé des écosystèmes naturels
            </strong>
            <br><br>

          </div>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_publics" aria-expanded="false" aria-controls="intro_publics">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            à qui s'adresse HYDROVIZ ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_publics">
          <br>
          <div class="alert alert-info text-center" role="alert">
            <strong class="lead">
              HYDROVIZ s'adresse à la fois au grand public, aux collectivités,
              <br>
              ainsi qu'aux services techniques publics ou aux organisations de la société civile.
            </strong>
          </div>

          <div >
            <strong class="a_">HYDROVIZ possède un design d'ensemble épuré</strong>
            afin que les données sur la pollution de nos réserves d'eau douce soient accessibles et compréhensibles par tous.
            Ainsi HYDROVIZ permet de visualiser très simplement <strong class="a_">l'évolution dans le temps </strong>
            des niveaux de concentrations de pesticides sur la France entière ou votre département :
            <br><br>
            <ul>
              <li>voir <strong class="a_">combien de pesticides différents</strong> ont été détectés par catégories dans chacune des nappes ;</li>
              <li><strong class="a_">comparer les taux mesurés</strong> par fonctions ou par familles de pesticides ;</li>
              <li>vérifier si les taux mesurés dépassent les <strong class="a_">normes autorisées</strong> ;</li>
              <li>fournir des <strong class="a_">informations précises sur chacun des pesticides détectés</strong> :
                  toxicité, fonction, famille de molécules, formule chimique, norme autorisée...
              </li>
            </ul>

          </div>
          <br>
        </div>


        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_features" aria-expanded="true" aria-controls="intro_features">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            comment utiliser HYDROVIZ ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_features">
          {% include "_howto.html" %}
        </div>


        <hr>
        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_dev" aria-expanded="true" aria-controls="intro_dev">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            le développement d'HYDROVIZ <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_dev">
          {% include "_dev_history.html" %}
        </div>

        <hr>

        {% include "_advice.html" %}

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
