<div class="modal fade in "
      id="mod_howto"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_howto">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalHowTo">
          Comment utiliser hydroViz ?
        </h3>
      </div>

      <div class="modal-body">

        <dl class="dl-horizontal">
          <dt>
            <img  src="{{ url_for('static', filename='images/logo_hydroviz_solo_.png') }}"
                  class="img-responsive" alt="Responsive image" >
          </dt>
          <dd>
            <h4 class="lead">
              HydroViz c'est une application interactive épurée dont toutes les fonctionnalités sont intégrées
              afin que vous puissiez vous concentrer sur l'essentiel :
              <strong> cartographie</strong>,
              affichage des <strong> informations sur les nappes phréatiques</strong>,
              analyse des
              <strong> quantités et catégories de polluants</strong> ...
              <br>bref, connaître la santé de vos sous-sols.
            </h4>
          </dd>
        </dl>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_features_" aria-expanded="true" aria-controls="intro_features_">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            quelles sont les fonctionnalités d'HYDROVIZ ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_features_">
          {% include "_howto.html" %}
        </div>

        <hr>
        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_dev_" aria-expanded="true" aria-controls="intro_dev_">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            le développement d'HYDROVIZ <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_dev_">
          {% include "_dev_history.html" %}
        </div>


        <hr>

        {% include "_advice.html"%}

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
