<div class="modal fade "
      id="mod_licences"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_licences">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalLicences">
          Licences utilisées et mentions légales
        </h3>
      </div>

      <div class="modal-body">


        <dl class="dl-horizontal">
          <dt>
            <img  src="{{ url_for('static', filename='images/logo_hydroviz_solo_.png') }}"
                  class="img-responsive" alt="Responsive image" >
          </dt>
          <dd>
            <h4 class="lead">
              HYDROVIZ est
              <strong> entièrement développé en open source et publié sous licence
                <a class="a_" target="_blank" href="https://fr.wikipedia.org/wiki/Licence_publique_générale_GNU">
                  GNU General Public License
                </a> (voir
                <a class="a_" target="_blank" href="https://gitlab.com/Julien_P/concours_pesticides/blob/master/LICENSE">
                  ici
                </a>)
              </strong>  :
              les données, les bibliothèques de code, l'architecture de l'application, les outils de datavisulation, les fonds de carte
              sont tous également couverts par différents types de licences libres.
            </h4>
          </dd>
        </dl>


        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lic_archi" aria-expanded="false" aria-controls="lic_archi">
            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            Architecture de l'application <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lic_archi">
          <br>
          <div role="alert" class="alert alert-info">
            L'application est principalement écrite en Python et en JavaScript :
            le serveur est développé avec Flask,
            les requêtes client-serveur avec SocketIO / flask-SocketIO,
            l'analyse et le nettoyage de données avec les bibliothèques Python Pandas et GeoPandas
          </div>
          <hr>
          <dl class="dl-horizontal">

            <dt>
              <a target="_blank" href="http://www.python.org">
                <img src="{{ url_for('static', filename='images/logo_python.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://www.python.org">
              Python
              </a>
              : langage de programmation open source (OSI-approved open source license)
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="http://flask.pocoo.org">
                <img src="{{ url_for('static', filename='images/logo_flask.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://flask.pocoo.org">
              Flask
              </a>
              : framework serveur en Python sous licence BSD créé par Armin Ronacher et alii.
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="http://pandas.pydata.org">
                <img src="{{ url_for('static', filename='images/logo_pandas.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://pandas.pydata.org">
              Pandas / GeoPandas / Numpy
              </a>
              : bibliothèques Python pour l'analyse de données et le calcul scientifique (licence BSD)
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="https://www.javascript.com">
                <img src="{{ url_for('static', filename='images/logo_js.jpg') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="https://www.javascript.com">
              JavaScript (et JQuery)
              </a>
              : langages de programmation
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="http://socket.io">
                <img src="{{ url_for('static', filename='images/logo_socketio.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://socket.io">
              SocketIO / flask-socketIO
              </a>
              : requêtes asynchrones serveur-client (en Python et javascript, licence MIT)
            </dd>


          </dl>


        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lic_design" aria-expanded="false" aria-controls="lic_design">
            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            Design de l'application <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lic_design">
          <br>
          <div role="alert" class="alert alert-info">
            Les outils de data visualisation sont principalement :
            Bootstrap,
            D3.js,
            <!-- Chroma.js, -->
            et Leaflet.
            Le design du logo d'HydroViz a été fait avec le logiciel libre InkScape.
          </div>
          <hr>
          <dl class="dl-horizontal">

            <dt>
              <a target="_blank" href="http://getbootstrap.com">
                <img src="{{ url_for('static', filename='images/logo_bootstrap.jpg') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://getbootstrap.com">
              Bootstrap
              </a>
              : framework client open source (licence MIT)
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="https://d3js.org">
                <img src="{{ url_for('static', filename='images/logo_d3.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="https://d3js.org">
              D3.js (Data Driven Documents)
              </a>
              : bibliothèque de data visualisation (Copyright 2010-2016 Mike Bostock all rights reserved, avec autorisation de modifications et de redistribution)
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="http://leafletjs.com">
                <img src="{{ url_for('static', filename='images/logo_leaflet.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://leafletjs.com">
              Leaflet
              </a>
              : bibliothèque de cartographie en javascript (Copyright (c) 2010-2016, Vladimir Agafonkin / Copyright (c) 2010-2011, CloudMade
              All rights reserved, avec autorisation de modifications et de redistribution)
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="http://fontawesome.io">
                <img src="{{ url_for('static', filename='images/logo_fontawesome.jpg') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://fontawesome.io">
              FontAwesome
              </a>
              : bibliothèque d'icônes (licence MIT).
            </dd>
            <hr>
            <dt>
              <a target="_blank" href="http://inkscape.org">
                <img src="{{ url_for('static', filename='images/logo_inkscape.jpg') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://inkscape.org">
              Inkscape
              </a>
              : Inkscape est un logiciel libre de dessin vectoriel sous licence GNU GPL.
              Il gère des fichiers conformes avec les standards XML, SVG et CSS du W3C.
            </dd>
            <!-- <hr>
            <dt>
              <img src="{{ url_for('static', filename='images/logo_chroma.png') }}" class="img-responsive" alt="Responsive image">
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://gka.github.io/chroma.js/">
              Chroma.js
              </a>
              : bibliothèque de palettes de couleurs en javascript
            </dd> -->

          </dl>

        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lic_data" aria-expanded="false" aria-controls="lic_data">
            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            Bases de données (sources)<span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lic_data">
          <br>
          <div role="alert" class="alert alert-info">
            Les données servant à la datavisualisation ont comme sources principales :
            Etalab (portail open data national), Open Street Map
            <br> Les données ont été préparées en amont pour une consommation web avec les bibliothèques Python Pandas, geoPandas citées plus haut
            en utilisant l'outil Jupyter lors de la préparation des scripts
          </div>
          <hr>
          <dl class="dl-horizontal">

            <dt>
              <a target="_blank" href="https://www.etalab.gouv.fr">
                <img src="{{ url_for('static', filename='images/logo_etalab.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="https://www.etalab.gouv.fr">
              Etalab
              </a>
              : portail opendata
            </dd>

            <hr>

            <dt>
              <a target="_blank" href="https://www.openstreetmap.org">
                <img src="{{ url_for('static', filename='images/logo_osm.jpg') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="https://www.openstreetmap.org">
              Open Street Map
              </a>
              : fonds de cartes (license ODbl)
            </dd>

            <hr>

            <dt>
              <a target="_blank" href="http://jupyter.org/index.html">
                <img src="{{ url_for('static', filename='images/logo_jupyter.svg') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://jupyter.org/index.html">
              Jupyter (optionnel)
              </a>
              : outil notebook Python (Copyright (c) 2015, Project Jupyter, avec autorisation de modifications et de redistribution)
            </dd>

          </dl>

        </div>


        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lic_repo" aria-expanded="false" aria-controls="lic_repo">
            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            Code source et hébergement<span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lic_repo">
          <br>
          <div role="alert" class="alert alert-info">
            Le code source est en open source sur la plateforme GitLab.
            L'application est hébergée sur Digital Ocean.
            Les services de proxy et web utilisés sont Nginx et Gunicorn.
          </div>
          <hr>
          <dl class="dl-horizontal">

            <dt>
              <a target="_blank" href="https://gitlab.com/Julien_P/concours_pesticides">
                <img src="{{ url_for('static', filename='images/logo_gitlab.svg') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="https://gitlab.com/Julien_P/concours_pesticides">
              GitLab
              </a>
              : plateforme libre de partage du code source (licence MIT)
            </dd>

            <hr>

            <dt>
              <a target="_blank" href="http://digitalocean.com">
                <img src="{{ url_for('static', filename='images/logo_digitalocean.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://digitalocean.com">
              Digital Ocean
              </a>
              : hébergement cloud sur serveur Ubuntu Ubuntu 14.04.5 x64 (2 CPU / 4 Go)
            </dd>

            <hr>

            <dt>
              <a target="_blank" href="hhttp://nginx.com">
                <img src="{{ url_for('static', filename='images/logo_nginx.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://nginx.com">
              Nginx
              </a>
              : logiciel libre de serveur Web (ou HTTP) ainsi qu'un proxy inverse
              (Copyright (C) 2002-2017 Igor Sysoev,
              Copyright (C) 2011-2017 Nginx, Inc.
              All rights reserved, avec autorisation de modifications et de redistribution)
            </dd>

            <hr>

            <dt>
              <a target="_blank" href="http://gunicorn.org">
                <img src="{{ url_for('static', filename='images/logo_gunicorn.png') }}" class="img-responsive" alt="Responsive image">
              </a>
            </dt>
            <dd>
              <a class="a_" target="_blank" href="http://gunicorn.org">
              Gunicorn
              </a>
              : logiciel libre serveur Python WSGI HTTP pour UNIX
              (2009-2016 (c) Benoît Chesneau / benoitc@e-engura.org
              2009-2015 (c) Paul J. Davis / paul.joseph.davis@gmail.com
              )
            </dd>


          </dl>

        </div>

        <hr>
        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lic_dev" aria-expanded="true" aria-controls="lic_dev">
            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            Le développement d'HYDROVIZ <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="lic_dev">
          {% include "_dev_history.html" %}
        </div>


        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#lic_leg" aria-expanded="false" aria-controls="lic_leg">
            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
            Mentions légales<span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="lic_leg">
          <br>
          <div role="alert" class="alert alert-info">
            <strong>Site à but non lucratif</strong>
            <hr>
            Coordonnées du responsable du site :
            <address>
              <strong>Julien Paris</strong><br>
              28 rue de Gigant<br>
              44100 Nantes<br>
              <abbr title="Phone">T:</abbr> +33 6.83.65.84.91<br>
              <abbr title="EMail">E:</abbr> <a class="a_" href="mailto:hydroviz.fr@gmail.com">hydroviz.fr@gmail.com</a><br>
              <abbr title="Site professionnel">Site:</abbr> <a class="a_" target="_blank" href="http://www.jpylab.fr">jpylab.fr</a><br>
              <abbr title="Siret">Siret:</abbr> 822 968 699 00014
            </address>
            <hr>
            Coordonnées de l'hébergeur :
            <address>
              <strong>Digital Ocean</strong><br>
              101 Avenue of the Americas 10th Floor<br>
              New York, NY 10013<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890<br>
              <abbr title="EMail">M:</abbr> <a class="a_" href="mailto:legal@digitalocean.com">legal@digitalocean.com</a>
            </address>
          </div>

        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
