<div class="modal fade in "
      id="mod_intro"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_intro">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalIntro">
          Qu'est-ce qu'hydroViz ?
        </h3>
      </div>

      <div class="modal-body">

        <dl class="dl-horizontal">
          <dt>
            <img  src="{{ url_for('static', filename='images/logo_hydroviz_bis.jpg') }}"
                  class="img-responsive" alt="Responsive image" >
          </dt>
          <dd>
            <h4 class="lead">
              est une application interactive de
              <strong> data visualisation </strong>
              pour le grand public comme pour les spécialistes de l'environnement.
              <hr>
              HYDROVIZ permet de visualiser globalement et finement l'évolution de la
              <strong>pollution des nappes phréatiques aux pesticides </strong>
              entre 2007 et 2012 en France.
            </h4>

            <hr>
            <h5>
              * version {{ app_metas.version }} - expérimentale et 100% open source
              <br>
              ** tous vos commentaires sont les bienvenus ! écrivez-nous sur
                <a class="a_" target="_blank" href="https://twitter.com/jparis_py">Twitter</a>
                <a class="a_" target="_blank" href="https://twitter.com/search?q=hydroviz&src=typd">#hydroviz</a>
              <br>
              *** si vous appréciez ce site et que vous souhaitez nous aider à le maintenir en ligne (en participant aux frais d'hébergement du site par exemple)
                n'hésitez pas à nous contacter :
                <a class="a_" href="mailto:hydroviz.fr@gmail.com">hydroviz.fr@gmail.com</a>
            </h5>

          </dd>
        </dl>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_goal" aria-expanded="false" aria-controls="intro_goal">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            pourquoi est-ce important de visualiser la pollution des nappes phréatiques ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_goal">
          <div >
            <br>

            <div class="alert alert-info text-center" role="alert">
              <strong class="lead">
                <a class="a_" role="button" data-toggle="collapse" data-target="#intro_video" aria-expanded="false" aria-controls="intro_video">
                  <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                  "Moins de 1% de l'eau sur Terre est douce et liquide" *
                  <span class="caret"></span>
                </a>
              </strong>
            </div>

            <div class="collapse in text-center" id="intro_video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/wH9dMNWjL2s" frameborder="0" allowfullscreen></iframe>
              <h5>
                vidéo partagée avec l'accord des ayants droit / lien vers la chaîne YouTube de
                <a class="a_" target="_blank" href="https://www.youtube.com/user/datagueule">
                  DATA GUEULE
                </a>
                <br>
                Une production
                <a class="a_" target="_blank" href="http://www.pltv.fr/en/">Premières Lignes</a>
                avec
                <a class="a_" target="_blank" href="http://www.storycircus.fr">Story Circus</a>
                et la participation de France Télévisions
                <br>*
                <a class="a_" target="_blank" href="http://www.solidarites.org/phocadownload/publications/publications_techniques/solidarites_2016_barometre-eau_web.pdf">
                  source
                </a>
              </h5>
            </div>

            <br>
            La pollution aux pesticides des nappes d'eau souterraines est un sujet complexe mais qui nous concerne tous :
            <strong>les nappes phréatiques représentent en effet à l'échelle mondiale environ 30% des réserves d'eau douce,
              après les glaciers (68%), et constituent donc une ressource bien plus importante
              que les cours d'eau de surface ou l'eau contenue dans l'atmosphère
              (
              <a class="a_" target="_blank" href="http://www.solidarites.org/phocadownload/publications/publications_techniques/solidarites_2016_barometre-eau_web.pdf"> source </a>
              ).
              Ces réserves servent à la fois à l'irrigation des cultures, à la consommation en tant qu'eau potable, et à la bonne santé des écosystèmes naturels
            </strong>
            <br><br>

          </div>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_publics" aria-expanded="false" aria-controls="intro_publics">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            à qui s'adresse HYDROVIZ ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_publics">
          <br>
          <div class="alert alert-info text-center" role="alert">
            <strong class="lead">
              HYDROVIZ s'adresse à la fois au grand public, aux collectivités,
              <br>
              ainsi qu'aux services techniques publics ou aux organisations de la société civile.
            </strong>
          </div>

          <div >
            <strong class="a_">HYDROVIZ possède un design d'ensemble épuré</strong>
            afin que les données sur la pollution de nos réserves d'eau douce soient accessibles et compréhensibles par tous.
            Ainsi HYDROVIZ permet de visualiser très simplement <strong class="a_">l'évolution dans le temps </strong>
            des niveaux de concentrations de pesticides sur la France entière ou votre département :
            <br><br>
            <ul>
              <li>voir <strong class="a_">combien de pesticides différents</strong> ont été détectés par catégories dans chacune des nappes ;</li>
              <li><strong class="a_">comparer les taux mesurés</strong> par fonctions ou par familles de pesticides ;</li>
              <li>vérifier si les taux mesurés dépassent les <strong class="a_">normes autorisées</strong> ;</li>
              <li>fournir des <strong class="a_">informations précises sur chacun des pesticides détectés</strong> :
                  toxicité, fonction, famille de molécules, formule chimique, norme autorisée...
              </li>
            </ul>

          </div>
          <br>
        </div>


        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_features" aria-expanded="true" aria-controls="intro_features">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            comment utiliser HYDROVIZ ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_features">
          {% include "_howto.html" %}
        </div>


        <hr>
        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_dev" aria-expanded="true" aria-controls="intro_dev">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            le développement d'HYDROVIZ <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_dev">
          {% include "_dev_history.html" %}
        </div>

        <hr>

        {% include "_advice.html" %}

        <hr>

        <h6 class="indent1">
          Numéro d'enregistrement de l’équipe HydroViz au concours :  DatavizPesticides-1086
        </h6>

        <hr>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
