’<div class="modal fade "
      id="mod_methodo"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_methodo">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalMethodo">
          Notre méthodologie
        </h3>
      </div>

      <div class="modal-body">

        <dl class="dl-horizontal">
          <dt>
            <img  src="{{ url_for('static', filename='images/logo_hydroviz_solo_.png') }}"
                  class="img-responsive" alt="Responsive image" >
          </dt>
          <dd>
            <h4 class="lead">

              <i class="fa fa-circle" aria-hidden="true"></i>
              Notre premier défi était de rendre intelligible au grand public - en un coup d'oeil et avec un minimum d'outils -
              ces millions de mesures à disposition.

              <hr><i class="fa fa-circle" aria-hidden="true"></i>
              Notre second défi était de respecter les données d'origine en l'état :
              les données affichées à l'écran sont extraites des données originales presque directement,
              afin de faciliter les mises à jour et la navigation.

              <hr><i class="fa fa-circle" aria-hidden="true"></i>
              Le dernier défi consistait à produire une application de qualité
              quasi professionnelle en ne choisissant que des outils open source,
              depuis la conception jusqu'à la mise en ligne.

            </h4>
          </dd>
        </dl>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#met_infos" aria-expanded="false" aria-controls="met_infos">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Eléments généraux de méthodologie <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent2" id="met_infos">
          <br>
          Les données utilisées sont issues des réseaux de surveillance de la DCE : réseau de contrôle de surveillance
          (RCS) et réseau de contrôle opérationnel (RCO).<br>
          Le RCS a pour vocation de donner une image patrimoniale de la contamination des eaux souterraines.<br>
          Le RCO a pour objectif le suivi de points d’eau dans des secteurs particulièrement contaminés.
          <hr>
          Pour chaque pesticide, il existe une limite de quantification, seuil en dessous duquel le laboratoire d’analyse ne
          peut chiffrer (quantifier) sa concentration dans l’eau. Cette limite peut varier pour une même molécule selon la
          méthode d’analyse utilisée.
          <hr>
          La concentration totale en pesticides correspond à la somme des concentrations des pesticides quantifiés d’un
          même prélèvement. Les analyses non quantifiées sont considérées comme nulles. Le résultat présenté est la
          moyenne des concentrations totales en pesticides des prélèvements de l’année, par point de mesure.<br>
          Le nombre de pesticides détectés par point d’eau ne permet pas de statuer sur la gravité de la contamination.<br>
          En revanche, la concentration de chacune de ces substances, et qui plus est, la somme de leur concentration
          permet de pointer les secteurs les plus dégradés.
          <hr>
          La moyenne annuelle est comparée aux deux normes de qualité DCE pour les eaux souterraines et à un troisième
          seuil :<br>
          <ul>
            <li>la moyenne annuelle de la concentration totale en pesticides doit être inférieure à 0,5 µg/l ;</li>
            <li>la concentration moyenne annuelle de chaque substance pesticide analysée doit être inférieure à 0,1 µg/l,
          sauf pour 4 substances, aldrine, dieldrine, heptachlore et heptachlore époxyde, pour lesquelles elle doit être
          inférieure à 0,03 µg/l.<br>
          Le non-respect de l’une ou de l’autre de ces conditions, et qui plus est, le non-respect concurremment de ces 2
          conditions, entraînent une non-conformité du point d’eau au titre de la DCE. Ces deux seuils correspondent
          aussi aux concentrations maximales admissibles pour une eau potable ;</li>
            <li>5 µg/l est la valeur maximale admissible pour la concentration totale en pesticides au-dessus de laquelle les
          traitements pour rendre l’eau potable ne sont plus possibles.</li>
          </ul>
          Chaque point de suivi peut faire l’objet de plusieurs prélèvements dans l’année selon sa nature. Dans les eaux
          souterraines, toutes les mesures sont jugées significatives et sont prises en compte quel que soit leur nombre
          dans l’année. Les résultats dépendent à la fois, de la stratégie de surveillance des bassins, certains bassins recherchant
          plus de substances que d’autres, et des performances analytiques des laboratoires. Certaines méthodes
          d’analyses permettent de disposer de résultats sur une large gamme de pesticides, qui va au-delà des
          substances demandées par les programmes de surveillance.
        </div>

        <hr><hr>


        <h5 class="alert alert-info bstooltip" data-toggle="tooltip" data-placement="top"
            title="cliquer pour plus d'infos" >
          <a role="alert" class="a_" role="button" data-toggle="collapse" data-target="#met_intro" aria-expanded="false" aria-controls="met_intro">
            Plusieurs étapes ont été nécessaires pour aboutir à une data visualisation respectant au maximum l'intégrité des données originales,
            et très peu de calculs ou d'aggrégations ont été opérés sur les données originales.
            <br>Cette méthodologie permettra à l'avenir une mise à jour simplifiée des données.<span class="caret"></span>
          </a>
        </h5>

        <h5 class="collapse indent1" id="met_intro">
          <ul>
            <li>
              En amont les
              <a class="a_" target="_blank" href="http://www.donnees.statistiques.developpement-durable.gouv.fr/dataviz_pesticides/BDD%20concours%20Pesticides%20VF.zip">
              jeux de données originaux
              </a>
              ont d'abord été formatés et intégrés dans des jeux spécifiques (objets Pandas).
              La technologie offerte par Python et la bibliothèque Pandas permettent de faire des opérations statistiques
              très rapidement sans altérer la base de données, ou encore de regrouper les informations dans des tables dédiées.
            </li>
            <li>Les données cartographiques d'origine ont été optimisées en amont pour une utilisation web (TopoJSON).</li>
            <li>Le choix a été fait de jouer avec le facteur temps afin de constater dynamiquement l'évolution de la pollution.</li>
            <li>Enfin les systèmes de requêtes client (IO) ont été pensés pour renvoyer à l'utilisateur le plus rapidement possible
              des données les plus légères et les plus synthétiques.</li>
          </ul>
        </h5>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#met_prep" aria-expanded="false" aria-controls="met_prep">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Préparation des données <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="met_prep">
          <br>

          <dl class="dl-horizontal">

            <dt>Données statistiques</dt>
            <dd>
              Les différents jeux de tableaux de mesures et les informations sur les stations de mesure ont été regroupés en plusieurs objets Pandas.
              Les données affichées pour les masses d'eau souterraines sont obtenues en faisant la moyenne des mesures des stations
              qui possèdent des données pour la masse d'eau considérée.
              <br>
              Un jeu complémentaire a été créé pour pouvoir afficher les données selon les départements :
              les données affichées pour les départements sont obtenues en faisant la moyenne des mesures des stations situées au département considéré.
              <strong>Python et Pandas</strong>
            </dd>

            <dt>Données géographiques</dt>
            <dd>
              Les fonds de carte ont été transformés pour avoir la projection Mercator correspondant à leur utilisation dans Leaflet.
              Les masses d'eau possédant les exacts mêmes codes ("CdMasseDEa") ont été regroupées pour optimiser l'affichage.
              Les fichiers shapefile ont été transformés en fichiers TopoJSON (format créé par M. Bostock, créateur de D3.js) pour un gain de poids considérable.
              Ces transformations ont étés faite avec GeoPandas et MapShaper (tous deux open source).
              <strong>GeoPandas, MapShaper et TopoJSON</strong>
            </dd>

          </dl>

        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#met_adj" aria-expanded="false" aria-controls="met_adj">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Intégration de bases de données supplémentaires <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="met_adj">
          <br>

          <dl class="dl-horizontal">

            <dt>Dangerosité des produits</dt>
            <dd>
              Nous nous sommes basés sur la base de données américaine TOXNET et sa réutilisation par la
              <a class="a_" target="_blank" href="http://apps.who.int/iris/?locale=fr&null">
              organisation mondiale de la santé (OMS-IRIS)
              </a>
              pour retrouver le niveau de dangerosité des pesticides.
              Nous avons - pour le moment - fait ce choix faute de trouver une base de données européenne
              dans un format convenable pour l'analyse, type .csv ou .xls.
              <br>
              Nous nous avons sommes donc basés sur les informations contenues dans ce
              <a class="a_" target="_blank" href="http://apps.who.int/iris/handle/10665/44271">
              pdf
              </a>
              <br>
              <stron><a class="a_" target="_blank" href="https://toxnet.nlm.nih.gov">site de TOXNET</a></strong>
            </dd>

            <dt>Eaux de surface</dt>
            <dd>
              Le fond de carte des eaux de surface provient de la plateforme officielle datagouv.fr.
              Nous avons choisi d'inclure cette base dans la perspective d'une intégration dans le même outil HydroViz
              des données de pollution aquatique, qu'elle soit de surface ou souterraine.
              <br>
            </dd>

          </dl>

        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#met_select" aria-expanded="false" aria-controls="met_select">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Sélection et analyse des données <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="met_select">
          <br>

          <dl class="dl-horizontal">

            <dt>Requêtes côté client</dt>
            <dd>
              Les requêtes se font de manière asynchrones entre le serveur et le client via SocketIO.
              Cette solution permet de garder en cache les fonds de carte et un certain nombre de paramètres pour les requêtes et l'affichage des cartes et des tableaux.
              <br>SocketIO et Javascript
            </dd>

            <dt>Analyse côté serveur</dt>
            <dd>
              Les données sont préchargées une seule fois lors de l'initialisation du serveur (cloud) et gardées en mémoire sous forme d'objets Pandas
              non altérables. Des fonctions généralistes ont été écrites afin de bénéficier de toute la puissance de Pandas de manière dynamique.
              <br>Python, Flask et Pandas
            </dd>

          </dl>

        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#met_viz" aria-expanded="false" aria-controls="met_viz">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Visualisation des données <span class="caret"></span>
          </a>
        </div>
        <div class="collapse indent1" id="met_viz">
          <br>

          <dl class="dl-horizontal">

            <dt>"Slider" temporel</dt>
            <dd>
              Une dimension essentielle de la pollution est son évolution dans le temps.
              Par un simple glissement sur la barre de défilement - un outil maintenant commun tel que sur les vidéos YouTube -
              l'utilisateur peut voir par lui-même cette évolution.
              <strong>Javascript + socketIO</strong>
            </dd>

            <dt>Cartographie</dt>
            <dd>
              La carte est un outil parlant pour le grand public car on peut rapidement se situer et rendre ainsi l'information
              plus concrète.
              De plus l'utilisation des calques permet de choisir entre une visualisation des données par masses d'eau (les données d'origine),
              ou une visualisation par départements ,peut-être plus parlante pour le grand public.
              <strong>Leaflet</strong>
            </dd>

            <dt>Treemap</dt>
            <dd>
              La variété des pesticides détectés et leurs différentes caractéristiques imposaient de trouver
              une façon de rendre compréhensible toutes ces dimensions. Cet outil s'adresse à des personnes voulant
              approfondir leur connaissance sur les pesticides détectés et leur action sur l'environnement ou la santé.
              <strong>D3.js</strong>
            </dd>

          </dl>

        </div>



        <hr>
        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#met_dev_" aria-expanded="true" aria-controls="met_dev_">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Le développement d'HYDROVIZ <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="met_dev_">
          {% include "_dev_history.html" %}
        </div>




      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>
