<div class="modal fade in "
      id="mod_intro"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_intro">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="ModalIntro">
          Qu'est-ce qu'Hydroviz ?
        </h3>
      </div>

      <div class="modal-body">

        <h4 class="lead">
          HYDROVIZ est une application interactive permettant de visualiser la pollution aux pesticides des nappes phréatiques en France entre 2007 et 2012.
        </h4>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_goal" aria-expanded="false" aria-controls="intro_goal">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            pourquoi visualiser la pollution des nappes phréatiques aux pesticides ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_goal">
          <div >
            <br>
            La pollution aux pesticides des nappes d'eau souterraines est un sujet complexe mais qui nous concerne tous :
            <strong>les nappes phréatiques représentent en effet les plus grandes réserves d'eau douce,
              laquelle sert à la fois à l'irrigation des cultures, à la consommation en tant qu'eau potable, et à la bonne santé des écosystèmes naturels
            </strong>
            <br><br>
          </div>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_publics" aria-expanded="false" aria-controls="intro_publics">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            à qui s'adresse HYDROVIZ ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_publics">
          <br>
            <strong class="lead">
              HYDROVIZ s'adresse à la fois au grand public, aux collectivités, ainsi qu'aux services techniques publics ou aux organisations de la société civile.
            </strong>
          <br><br>
          <div >
            <strong class="a_">HYDROVIZ possède un design général qui se veut minimal</strong>, afin qu'il soit le plus accessible possible.
            Ainsi HYDROVIZ permet de visualiser très simplement les concentrations de pesticides sur la France entière et votre région,
            ou encore de vérifier si les taux mesurés dépassent les normes autorisées.
            <br>
            HYDROVIZ permet également d'accéder à des <strong class="a_">informations précises sur chacun des pesticides détectés</strong> :
            toxicité, fonction, famille de molécules...
            <br>
          </div>
          <br>
        </div>


        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_features" aria-expanded="true" aria-controls="intro_features">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            comment utiliser HYDROVIZ ? <span class="caret"></span>
          </a>
        </div>

        <div class="collapse in indent1" id="intro_features">
          <br>
          <strong class="lead">HYDROVIZ possède trois fonctionnalités principales :</strong> (survoler les liens)
          <ol>
            <br>
            <li class="bstooltip tooltip_img" data-toggle="tooltip" data-placement="left"
                title="<img src='{{ url_for('static', filename='images/tooltip_slider.jpg') }}' >" >
              <strong class="a_">un "slider" </strong> permettant de faire défiler les années.
              Le slider se trouve en haut en violet dans la barre de navigation, ainsi que dans la fenêtre "répartition des pesticides"
            </li>
            <li>
              <div class="bstooltip tooltip_img" data-toggle="tooltip" data-placement="left"
                  title="<img src='{{ url_for('static', filename='images/tooltip_map.jpg') }}' >" >
                <strong class="a_">une représentation cartographique </strong> des données sur la France entière : soit des concentrations moyennes totales de pesticides pour une nappe d'eau particulière, soit du nombre de pesticides détectés dans une catégorie donnée.
              </div>
              <ul>
                <li class="bstooltip tooltip_img" data-toggle="tooltip" data-placement="left"
                    title="<img src='{{ url_for('static', filename='images/tooltip_filters.jpg') }}' >" >
                  <strong class="a_">Des filtres sur la gauche</strong> de l'écran afin de choisir la catégories voulue.</li>
                <li class="bstooltip tooltip_img" data-toggle="tooltip" data-placement="left"
                    title="<img src='{{ url_for('static', filename='images/tooltip_infomap.jpg') }}' >" >
                  <strong class="a_">Une fenêtre informative sur la droite</strong> de l'écran permet de lire les informations spécifiques à la nappe phréatique (masse d'eau) sélectionnée</li>
              </ul>
            </li>
            <li class="bstooltip tooltip_img" data-toggle="tooltip" data-placement="left"
                title="<img src='{{ url_for('static', filename='images/tooltip_treemap.jpg') }}' >" >
              <strong class="a_">une représentation hiérarchique ("treemap")</strong> des pesticides permettant d'avoir des informations plus spécifiques sur les produits détectés :
              les pesticides sont alors regroupés par fonctions, familles, et dangerosité.
            </li>

          </ol>
          <br>
        </div>

        <hr>

        <div class="bstooltip" data-toggle="tooltip" data-placement="left"
            title="cliquer pour plus d'infos" >
          <a class="a_" role="button" data-toggle="collapse" data-target="#intro_dev" aria-expanded="true" aria-controls="intro_dev">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            le développement d'HYDROVIZ <span class="caret"></span>
          </a>
        </div>

        <div class="collapse indent1" id="intro_dev">
          <br>
          <strong class="lead text-center">
            HYDROVIZ a été développé entre le décembre 2016 et janvier 2017 par <br>
            <a class="a_" target="_blank" href="http://jpylab.com">Julien Paris </a>
            et Florian Melki.
          </strong>
          <br><br>

          <div >
            HYDROVIZ est une application expérimentale et certaines fonctionnalités sont encore en cours de développement. Le code est en open source sur
            <a class="a_" href="http://gitlab.com/Julien_P/concours_pesticides" target="_blank">GitLab</a>.
            <br>
            Les
            <a class="a_" target="_blank" href="http://www.donnees.statistiques.developpement-durable.gouv.fr/dataviz_pesticides/">
              données et les fonds de carte
            </a>
            ont été fournis par le ministère de l'environnement, de l'énergie et de la mer dans le cadre du
            <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr/Concours-de-data-visualisation-sur.html">
              concours
            </a>
            (voir également le
            <a class="a_" target="_blank" href="http://www.developpement-durable.gouv.fr/IMG/pdf/Reglement_Concours_Datavisualisation_Pesticides_dans_eaux_souterraines_15_12_2016_VF.pdf">
              règlement
            </a>
            du concours ).
            <br><br>
          </div>

        </div>

        <hr>
        <div>
          Vous trouverez plus d'informations sur les termes utilisés, la méthodologie, les sources, les licences utilisées ainsi que des ressources supplémentaires dans la barre de navigation en haut de l'écran.
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div>

    </div> <!-- end modal-content -->

  </div>

</div>

<script>

$('.tooltip_img').tooltip({
    animated : 'fade',
    placement: 'left',
    html     : true
});
</script>
