
body {
    /*background-color: teal ;*/
    /* azure darcyan honeydew lightcyan lightseagreen mintcream teal   */
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;

}
text {
    font-size: medium;
}

h2 {
    color: {{ app_colors.navbar }};
    margin-top: 0px;
}

h3 {
    color: teal;
}

h4 {
    color: {{ app_colors.navbar }};
    font-size: 14px;
}

h5 {
    color: teal;
    margin-bottom: 2px;
    margin-top: 2px;
}

a {
  color: #fff;
}
a:hover{
  color: grey;
}

/* NAVBAR & DROPDOWNS */
.navbar {
    background-color: {{ app_colors.navbar }} ;
    border-radius : 0px ;
}
#navbar-text {
    color : #fff
}


/* SIDEBAR & JUMBOTRON */
.container-fluid .jumbotron{
    background-color: {{ app_colors.jumbotron }} ;
}


.btn-warning{
    background-color: {{ app_colors.btn_warning }} ;
}
.btn-default{
    background-color: {{ app_colors.btn_default }} ;
}
.btn-success{
    background-color: {{ app_colors.btn_success }} ;
}
.btn-danger{
    background-color: {{ app_colors.btn_danger }} ;
}
.btn-info{
    background-color: {{ app_colors.btn_info }} ;
}
.btn-primary{
    background-color: {{ app_colors.btn_primary }} ;
}


.tooltip .tooltip-inner {
    background-color: {{ app_colors.btn_warning }} ;
    color: #fff;
}

.tooltip.right .tooltip-arrow {
    border-right-color: {{ app_colors.btn_warning }} ;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: {{ app_colors.btn_warning }} ;
}
