<style>
  #chart {
    /*width : 90%;*/
    /*height: 500px;*/
    background: #fff;
  }

  text {
    pointer-events: none;
  }

  .grandparent text {
    font-weight: bold;
  }

  /*svg.patterns {
    width: 10px;
    height: 10px;
  }*/

  rect {
    fill: none;
    stroke: #fff;

  }

  /* for hatching but not working yet */
  rect.hbar {
    mask : url(#mask-stripe)
  }

  rect.parent,
  .grandparent rect {
    stroke-width: 2px;
  }

  .grandparent rect {
    fill: {{ app_colors.btn_info }} ;
  }

  .grandparent text {
    fill : #fff ;
  }

  .grandparent:hover rect {
    fill: #ee9700;
  }


  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }

  .children rect.parent {
    /*fill: #bbb;*/
    fill-opacity : .1 ;
  }

  .children rect.child {
    fill-opacity : .7 ;
  }

  .children:hover rect.child {
    fill: #bbb;
    fill-opacity: 1;
  }

  #tooltip_tree, #tooltip_tree_parent {
    position        : absolute;
    height          : auto;
    padding         : 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius     : 5px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  #tooltip_tree{
    width : 350px;
  }

  #tooltip_tree_parent{
    width : 200px;
  }

  #tooltip_tree.hidden, #tooltip_tree_parent.hidden {
    display: none;
  }

  #tooltip_tree p, #tooltip_tree_parent p {
    margin     : 0;
    font-family: sans-serif;
    font-size  : 12px;
    line-height: 15px;
  }

</style>



<div class="row">

  <div  class="col-xs-6 bstooltip active " data-toggle="tooltip" data-placement="top"
        title="regrouper par catégories de pesticides" >
    <form>
      <label>
        <i class="fa fa-gear" area-hidden="true"></i> fonctions
        <input type="radio" class="switchCategTree" name="mode" value="byFunctions" checked >
        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
      </label>
      <label>
        <i class="fa fa-dot-circle-o" area-hidden="true"></i> familles
        <input type="radio" class="switchCategTree" name="mode" value="byFamilies">
        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
      </label>
      <label>
        <i class="fa fa-warning" area-hidden="true"></i> dangerosités
        <input type="radio" class="switchCategTree" name="mode" value="byTypes">
      </label>
    </form>
  </div>

  <div  class="col-xs-3 bstooltip active" data-toggle="tooltip" data-placement="top"
        title="changer d'année">
    <div class="input-group">
      <input  class="form-control slider_years" type="range"
              min="{{ var_dict['annees'][0] }}" max="{{ var_dict['annees'][-1] }}" value="{{ var_dict['annees'][0] }}"
              step="1" id="slider_years">
    </div>

  </div>

  <div class="col-xs-1 label label-default bstooltip" id="label_years_nav"
        data-toggle="tooltip" data-placement="top"
        title="année sélectionnée">
    <output for="slider_years" id="annee_selected2">
      {{ var_dict['annees'][0] }}
    </output>
  </div>

  <div class="bstooltip col-xs-1 text-right" data-toggle="tooltip" data-placement="top"
      title="cliquer pour voir l'aide du treemap" >
    <a class="a_" role="button" data-toggle="collapse" data-target="#tree_help" aria-expanded="false" aria-controls="tree_help">
      <span class="badge"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
    </a>
  </div>

</div>

<div class="collapse" id="tree_help">
  <hr>
  <h5>
    <ul>
      <li>Les pesticides peuvent être regroupés selon leur fonction (les herbicides par exemple),
        leur famille chimique, ou encore leur niveau de dangerosité.</li>
      <li>La taille de chaque rectangle est proportionnelle à la concentration mesurée.</li>
      <li>Cliquer sur une sous-catégorie pour voir en détail les pesticides correspondants à la catégorie.</li>
      <li>Cliquer sur la barre supérieure pour revenir à la vue globale.</li>
    </ul>
  </h5>
</div>

<hr>


<div id="tooltip_tree" class="hidden">

  <div class="text-center">
    <h4 class="text-uppercase"><strong id="pest_lib"></strong></h4>
    <h6 id="link_agritox"></h6>
  </div>

  <hr>

  <div>
    <dl class="dl-horizontal">
      <div id="value">        </div>
      <div id="norme_dce">    </div>
      <hr>
      <div id="code_cas">     </div>
      <div id="formule">      </div>
      <hr>
      <div id="code_famille"> </div>
      <div id="fonctions">    </div>
      <div id="types">        </div>
    </dl>
  </div>

</div>


<div id="tooltip_tree_parent" class="hidden">
  <p><strong id="pest_categ"></strong></p>
  <p>(cliquer sur la catégorie)</p>
</div>


<p>
  <div>
    <!-- <?xml version="1.0" standalone="no"?> -->
    <svg id="chart"  xmlns="http://www.w3.org/2000/svg" version="1.1" >

      <!-- HATCHING PATTERNS NOT WORKING YET -->
      <defs>
        <pattern id="pattern-stripe"
          width="4" height="4"
          patternUnits="userSpaceOnUse"
          patternTransform="rotate(45)">
          <rect width="2" height="4" transform="translate(0,0)" fill="red" />
        </pattern>
        <mask id="mask-stripe">
          <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-stripe)" />
        </mask>
      </defs>

    </svg>
  </div>
</p>

<!-- <form>
  <label><input type="radio" name="mode" value="sumByValue" checked> Valeur </label>
  <label><input type="radio" name="mode" value="sumByCount"> Nombre </label>
</form> -->

<h5>
  * les rectangles en <span style="color:red">rouge</span> représentent les pesticides dont la mesure dépasse la norme autorisée
  <br>
  ** survoler un pesticide pour afficher ses infos / cliquer pour plus d'informations sur la base de données
  <a class="a_" target="_blank" href="http://www.agritox.anses.fr/php/fiches.php">
    AGRITOX
  </a>
</h5>



<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script></script>
{% include "dict_agritox.html" %}

<script>

  var root_agritox = "http://www.agritox.anses.fr/php/sa.php?sa=" ;

  var is_link     = '<span class="glyphicon glyphicon-new-window"></span> cliquer pour voir la référence dans AGRITOX' ;
  var no_link     = '<span class="glyphicon glyphicon-new-window" style="color:red"></span> pas de référence trouvée dans AGRITOX' ;

  var dict_categs = {
    "byFunctions" : { "H"   : "herbicides",
                      "I"   : "insecticides" ,
                      "F"   : "fongicides",
                      "I,A" : "insecticides, acaricides",
                      "Reg" : "régulateurs de croissance",
                      "I,N" : "insecticides, nématicides",
                      "F,N" : "fongicides, nématicides",
                      "Ro"  : "rodenticides",
                      "I,A,F,H" : "insecticides, acaricides, fongicides, herbicides",
                      "I,Reg" : "insecticides, régulateurs de croissance",
                      "I,A,M" : "insecticides, acaricides, mollusticides",
                      "RepO"  : "répulsif",
                      "no ref": "fonction non identifiée"
                    },
    "byFamilies"  : {},
    ////////////////////
    "byTypes"     : { "I"     : "toxique",
                      "II"    : "modérément toxique",
                      "III"   : "légèrement toxique",
                      "U"     : "",
                      "O"     : "",
                      "no ref": "dangerosité non identifiée"
                    }
  };

  console.log(" >>> pest_infos : " );

  byPest = {{ var_dict.pest_CD_infos|tojson }};
  //console.log(" >>> pest_infos : ", byPest );

  var color = d3.scale.category20c();

  // function sumByCount(d) {
  //   return d.children ? 0 : 1;
  // };
  //
  // function sumByValue(d) {
  //   return d.value;
  // };




  // find code in agritox database
  function find_agritox_code (d) {

    var lib = byPest[ Number(d.name) ].LB_PARAMETRE.toUpperCase().latinize() ;
    // console.log("--- to_agritox / lib : ", lib);

    var lib_agritox_code = agritox_dict_lib_cod[lib];
    // console.log("--- to_agritox / lib_agritox_code : ", lib_agritox_code);

    return lib_agritox_code ;

  };

  /////////////////////////////
  // cf : http://bl.ocks.org/tgk/6044254
  function mousemove_ (d) {

    //console.log(d);

    var xPosition = d3.event.pageX - 250 ;
    var yPosition = d3.event.pageY - 150 ;

    d3.select("#tooltip_tree")
      .style("left", xPosition + "px")
      .style("top" , yPosition + "px");

    d3.select("#tooltip_tree_parent")
      .style("left", xPosition + "px")
      .style("top" , yPosition + "px");

    // var dl  = '<dl class="dl-horizontal">' ;
    var dt  = '<dt>' ;
    var dt_ = '</dt>' ;
    var dd  = '<dd>' ;
    var dd_ = '</dd>' ;
    // var dl_ = '</dl>' ;

    if (!d._children) {

      //code_cas   code_famille  formule fonctions
      d3.select("#tooltip_tree #pest_lib")
            .html( byPest[ Number(d.name) ].LB_PARAMETRE ); //+ " (code " + d.name + ")" ) ;
      d3.select("#tooltip_tree #value")
            .html(      dt + "valeur mesurée"     + dt_ + dd + d.value + " &#181g/L"                      + dd_ );
      d3.select("#tooltip_tree #norme_dce")
            .html(      dt + "norme autorisée"    + dt_ + dd + byPest[ Number(d.name) ].NORME_DCE + " &#181g/L" + dd_ ) ;

      d3.select("#tooltip_tree #code_cas")
            .html(      dt + "code CAS"           + dt_ + dd  + byPest[ Number(d.name) ].CODE_CAS     + dd_ ) ;
      d3.select("#tooltip_tree #code_famille")
            .html(      dt + "famille"            + dt_ + dd  + byPest[ Number(d.name) ].CODE_FAMILLE + dd_ ) ;
      d3.select("#tooltip_tree #formule")
            .html(      dt + "formule"            + dt_ + dd  + byPest[ Number(d.name) ].FORMULEB     + dd_ ) ;
      d3.select("#tooltip_tree #fonctions")
            .html(      dt + "fonctions"          + dt_ + dd  + byPest[ Number(d.name) ].FONCTIONS    + dd_ ) ;
      d3.select("#tooltip_tree #types")
            .html(      dt + "dangerosité"        + dt_ + dd  + byPest[ Number(d.name) ].Type         + dd_ ) ;

      agritox_code = find_agritox_code(d) ;

      if (agritox_code != undefined) {
        d3.select("#tooltip_tree #link_agritox")
              .html( is_link ) ;
      } else {
        d3.select("#tooltip_tree #link_agritox")
              .html( no_link ) ;
      };

      d3.select("#tooltip_tree").classed("hidden", false);

    }

    else {
      d3.select("#tooltip_tree_parent #pest_categ")
        //.text( d.name + " / " + dict_categs[categSelected][d.name] )
        .text( function () {
          var txt ;
          if (dict_categs[categSelected][d.name]) { txt = d.name + " : " + dict_categs[categSelected][d.name] }
          else { txt = d.name };
          return txt
          }
        );
      d3.select("#tooltip_tree_parent").classed("hidden", false);
    };

  };

  function mouseout_ () {
    d3.select("#tooltip_tree").classed("hidden", true);
    d3.select("#tooltip_tree_parent").classed("hidden", true);
  };

  function to_agritox (d) {

    agritox_code = find_agritox_code(d) ;

    if ( agritox_code != undefined ) {

      // var url_agritox = root_agritox + d.name ;
      var url_agritox = root_agritox + agritox_code ;
      console.log("--- to_agritox / url_agritox : ", url_agritox);

      var win = window.open(url_agritox, '_blank');
      win.focus();

    } else {

    };

    console.log("");
  };


  var categSelected ;
  var isTree = false ;

  // MAIN TREEMAP FUNCTION : byCateg = "byFamilies", "byFunctions", "byTypes"
  function makeTreeMap ( dataset_trees, byCateg ) {

    // remove previous treemap when updating
    if (isTree == true ) {
      d3.select(".svg_treemap").remove();
    };

    isTree = true;
    categSelected = byCateg ;

    // make a clone of desired tree set
    var root = jQuery.extend(true, {}, dataset_trees[ byCateg ] ) ;

    console.log(" >>>> makeTreeMap C / variables :");

    var margin = {top: 20, right: 0, bottom: 0, left: 0},
        width  = $('#HeadModalLabelPesticides').width(),
        //width  = $('#chart').width(),
        //width  = 868,

        height = 450 - margin.top - margin.bottom,
        formatNumber = d3.format(",d"),
        transitioning;

    // console.log("treemap width :", width);
    // console.log("treemap height :", height);

    var x = d3.scale.linear()
        .domain([0, width])
        .range( [0, width]);

    var y = d3.scale.linear()
        .domain([0, height])
        .range( [0, height]);

    var treemap = d3.layout.treemap()
        .children(function(d, depth) { return depth ? null : d._children; })
        .sort(function(a, b) { return a.value - b.value; })
        .ratio(height / width * 0.5 * (1 + Math.sqrt(5)))
        .round(false);

    d3.select("#chart")
        .attr("width" , width  + margin.left + margin.right)
        .attr("height", height + margin.bottom + margin.top)
        .style("margin-left" , -margin.left  + "px")
        .style("margin.right", -margin.right + "px");

    var svg = d3.select("#chart").append("g")//.append("svg")
        .attr("class", "svg_treemap")
        // .attr("width" , width  + margin.left + margin.right)
        // .attr("height", height + margin.bottom + margin.top)
        // .style("margin-left" , -margin.left  + "px")
        // .style("margin.right", -margin.right + "px")
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .style("shape-rendering", "crispEdges");

    var grandparent = svg.append("g")
        .attr("class", "grandparent");

    grandparent.append("rect")
        .attr("y", -margin.top)
        .attr("width", width)
        .attr("height", margin.top);

    grandparent.append("text")
        .attr("x", 6)
        .attr("y", 6 - margin.top)
        .attr("dy", ".75em");


    console.log(" >>>> makeTreeMap C / data :");
    //console.log(root);
    console.log("");

    initialize(root);
    accumulate(root);
    layout(root);
    display(root);

    function initialize(root) {
      root.x  = root.y = 0;
      root.dx = width;
      root.dy = height;
      root.depth = 0;
    };

    // Aggregate the values for internal nodes. This is normally done by the
    // treemap layout, but not here because of our custom implementation.
    // We also take a snapshot of the original children (_children) to avoid
    // the children being overwritten when when layout is computed.
    function accumulate(d) {
      return (d._children = d.children)
          ? d.value = d.children.reduce(function(p, v) { return p + accumulate(v); }, 0)
          : d.value;
    };

    // Compute the treemap layout recursively such that each group of siblings
    // uses the same size (1×1) rather than the dimensions of the parent cell.
    // This optimizes the layout for the current zoom state. Note that a wrapper
    // object is created for the parent node for each group of siblings so that
    // the parent’s dimensions are not discarded as we recurse. Since each group
    // of sibling was laid out in 1×1, we must rescale to fit using absolute
    // coordinates. This lets us use a viewport to zoom.
    function layout(d) {
      if (d._children) {
        treemap.nodes({_children: d._children});
        d._children.forEach(function(c) {
          c.x  = d.x + c.x * d.dx;
          c.y  = d.y + c.y * d.dy;
          c.dx *= d.dx;
          c.dy *= d.dy;
          c.parent = d;
          layout(c);
        });
      }
    }

    function display(d) {
      grandparent
          .datum(d.parent)
          .on("click", transition)
        .select("text")
          .text(name(d));

      var g1 = svg.insert("g", ".grandparent")
          .datum(d)
          .attr("class", "depth");

      var g = g1.selectAll("g")
          .data(d._children)
        .enter().append("g");

      g.filter(function(d) { return d._children; })
          .classed("children", true)
          .on("click", transition);

      g.filter(function(d) { return !d._children})
          // .on("mouseover", function(d) { console.log(d);} );
          .on("mousemove", mousemove_ )
          .on("mouseout",  mouseout_  )
          .on("click"   ,  to_agritox );
          ;

      g.filter(function(d) { return d._children})
          // .on("mouseover", function(d) { console.log(d);} );
          .on("mousemove", mousemove_ )
          .on("mouseout",  mouseout_  );


      g.selectAll(".child")
          .data(function(d) { return d._children || [d]; })
        .enter().append("rect")
          .attr("class", "child")
          .call(rect);

      //////////////////////////
      g.append("rect")
          .attr("class", "parent")
          .call(rect)
        .append("title")
          .text(function(d) { return formatNumber(d.value); });

      //////////////////////////////
      g.append("text")
          .attr("dy", ".75em")
          .attr("font-size", "10px")
          .text(function(d) { return d._children? d.name :
                                                  byPest[ Number(d.name) ].LB_PARAMETRE   ;
                            }
                )
          .call(text);


      // colors rect
      g.selectAll("rect")
          // .style("fill", function(d) { return color(d.parent.name); });
          .style("fill", overNormColor )
          //.attr("class", "hbar")
          ;

      function overNormColor(d) {
        if (byPest[Number(d.name)]) {
          return d.value - byPest[Number(d.name)].NORME_DCE > 0 ? "red" : color(d.parent.name) ;
        } else {
          color(d.parent.name)
        }
      };


      function transition(d) {
        if (transitioning || !d) return;
        transitioning = true;

        var g2 = display(d),
            t1 = g1.transition().duration(750),
            t2 = g2.transition().duration(750);

        // Update the domain only after entering new elements.
        x.domain([d.x, d.x + d.dx]);
        y.domain([d.y, d.y + d.dy]);

        // Enable anti-aliasing during the transition.
        svg.style("shape-rendering", null);

        // Draw child nodes on top of parent nodes.
        svg.selectAll(".depth").sort(function(a, b) { return a.depth - b.depth; });

        // Fade-in entering text.
        g2.selectAll("text").style("fill-opacity", 0);

        // Transition to the new view.
        t1.selectAll("text").call(text).style("fill-opacity", 0);
        t2.selectAll("text").call(text).style("fill-opacity", 1);
        t1.selectAll("rect").call(rect);
        t2.selectAll("rect").call(rect);

        // Remove the old node when the transition is finished.
        t1.remove().each("end", function() {
          svg.style("shape-rendering", "crispEdges");
          transitioning = false;
        });
      }

      return g;
    }

    function text(text) {
      text.attr("x", function(d) { return x(d.x) + 6; })
          .attr("y", function(d) { return y(d.y) + 6; });
    }

    function rect(rect) {
      rect.attr("x",      function(d) { return x(d.x); })
          .attr("y",      function(d) { return y(d.y); })
          .attr("width",  function(d) { return x(d.x + d.dx) - x(d.x); })
          .attr("height", function(d) { return y(d.y + d.dy) - y(d.y); });
    }

    // text grandparent on change-transition
    function name(d) {
      return d.parent?
              name(d.parent) + " - " + d.name
              : d.name ;
    }
  };

</script>
